<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=Put"
      method="post"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          value="<%= campground.title %>"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          value="<%= campground.location %>"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <label for="image" class="form-label">Add More Images</label>
      <div class="input-group mb-3">
        <input
          type="file"
          class="form-control"
          id="image"
          name="image"
          multiple
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            name="campground[price]"
            value="<%= campground.price %>"
            aria-describedby="price-label"
            required
          />
          <div class="valid-feedback">Looks Good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
<%= campground.description %></textarea
        >
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <% campground.images.forEach(function(img, i) { %>
        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%= i %>"
            name="deleteImages[]"
            value="<%= img.filename %>"
          />
        </div>
        <label for="image-<%= i %>">Delete?</label>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Back To Campground</a>
  </div>
</div>
