<% layout('layouts/boilerplate') %>

<h1 class="mb-3">All Campgrounds</h1>
<ul>
  <% for(let campground of campgrounds) { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <% if(campground.images.length) { %>
        <img
          crossorigin="anonymous"
          src="<%= campground.images[0].url %>"
          class="img-fluid"
          alt=""
        />
        <% } else { %>
        <img
          crossorigin="anonymous"
          class="img-fluid"
          src="https://res.cloudinary.com/dvhq7zxwd/image/upload/v1687362606/YelpCamp/ainreqo5pwd2nctgqdps.jpg"
          alt=""
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= campground.location %></small>
          </p>
          <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary"
            >View <%= campground.title %></a
          >
        </div>
      </div>
    </div>
  </div>
  <% } %>
</ul>
